<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link local Bootstrap version 4.5.3 CSS -->  
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">         
        <!-- Seath Flashfire icon -->
        <link href="../static/images/icon-01.ico" rel="icon"> 
        <!-- Link local JQuery version 3.6.0 production slim-->
        <script src="../static/js/jquery-3.6.0.min.js"></script> 
        <!-- Link local Bootstrap version 4.5.3 JS -->
        <script src="../static/js/bootstrap.bundle.js"></script>  

        {% if g.user %}
            <!-- Link Platform Stylesheet-->
            <link href="../static/css/platform.css" rel="stylesheet">
        {% else %}
            <!-- Link Auth Stylesheet-->
            <link href="../static/css/auth.css" rel="stylesheet">
        {% endif %}

        <title>{% block title %}{% endblock %} | FlashFire</title> 

        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }



            * { box-sizing: border-box; }
            body {
            font: 16px Arial;
            }
            .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
            }
            input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
            }
            input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
            }
            input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            }
            .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            }
            .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
            }
            .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
            }
            .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
            }

        </style>

    </head>
    <body>   
           
        {% if g.user %}

            <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url_for('platform.index') }}">
                    <img src="../static/images/Letterhead-01.svg" height="40px"></a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
                idata-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form autocomplete="off">
                    <div class="autocomplete" style="width:300px;">
                        <input id="myInput" class="form-control form-control-dark w-50" type="text" placeholder="Find Stocks/Symbols">
                    </div>
                    <input type="submit">
                </form>
                <!-- <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search"> -->
                <ul class="navbar-nav px-30">
                    <li class="nav-item text-nowrap"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out &nbsp; &nbsp; </a></li>
                </ul>         
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="sidebar-sticky pt-3">
                            <br>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('index') }}">
                                        <span data-feather="home"></span>
                                        Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.portfolio') }}">
                                        <span data-feather="bar-chart-2"></span>
                                        Portfolio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.watchlist') }}">
                                        <span data-feather="file"></span>
                                        Watchlist
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.quote') }}">
                                        <span data-feather="users"></span>
                                        Quotes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.trading') }}">
                                        <span data-feather="shopping-cart"></span>
                                        Trading
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.settings') }}">
                                        <span data-feather="layers"></span>
                                        Settings
                                    </a>
                                </li>
                            </ul>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Saved reports</span>
                                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    {% if get_flashed_messages() %}
                        <header>
                            <div class="alert" role="alert">
                                {{ get_flashed_messages() | join(" | ") }}
                            </div>
                        </header>
                    {% endif %}

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        {% block content %}{% endblock %}  
                    </main>
                </div>
                <footer class="footer small text-center text-muted">
                    <div>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a><br><br></div>    
                </footer>
            </div>

        {% else %}

            <body class="text-center">
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <main role="main" class="inner cover">

                        {% if get_flashed_messages() %}
                            <header>
                                <div class="alert" role="alert">
                                    {{ get_flashed_messages() | join(" | ") }}
                                </div>
                            </header>
                        {% endif %}

                        {% block authContent %}{% endblock %} 

                    </main>            
                    <footer>
                        <div>
                            <p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a>.</p>
                        </div>
                    </footer>
                </div>
            </body>

        {% endif %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="../static/js/base.js"></script>
        <script>
            function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
                }
            }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
            }

            var stock_list = {{ symbols|safe }}

            autocomplete(document.getElementById("myInput"), stock_list);
        </script>
    </body>
</html>