django==3.2.16
mysqlclient==2.1.1
python-dotenv==0.20.0
backtrader==1.9.76.123
IbPy2==0.8.0
openai
pandas
redis
celery
flower
django-redis
whitenoise
django-debug-toolbar
djangorestframework
django-filter
djoser
djangorestframework-simplejwt
Pillow
drf-nested-routers
django-cors-headers
django-templated-mail
matplotlib

pytest
django-pytest
pytest-watch
model-bakery
django-silk
locust

