django
mysqlclient
python-dotenv
backtrader
openai
pandas
redis
celery
flower
django-redis
whitenoise
django-debug-toolbar
djangorestframework
django-filter
djoser
djangorestframework-simplejwt
Pillow
drf-nested-routers
django-cors-headers
django-templated-mail
matplotlib

pytest
django-pytest
pytest-watch
model-bakery
django-silk
locust