django==4.1.4
mysqlclient==2.1.1
python-dotenv==0.21.0
backtrader==1.9.76.123
ib-insync==0.9.81
pandas==1.5.2
redis==4.4.0
celery==5.2.7
flower==1.2.0
django-redis==5.2.0
whitenoise==6.2.0
django-debug-toolbar==3.8.1
djangorestframework==3.14.0
django-filter==22.1
djoser==2.1.0
djangorestframework-simplejwt==5.2.2
Pillow==9.3.0
drf-nested-routers==0.93.4
django-cors-headers==3.13.0
django-templated-mail==1.1.1

pytest==7.2.0
django-pytest==0.2.0
pytest-watch==4.2.0
model-bakery==1.9.0
django-silk==5.0.2
locust==2.14.0