{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Quotes{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in portfolio %}
            <tr>
                <td>{{ i['symbol'] }}</td>
                <td>{{ i['stock'] }}</td>
                <td>{{ i['total_shares'] }}</td>
                <td>{{ i['price'] }}</td>
                <td>{{ i['total_shares'] * i['price'] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    CASH
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfooter>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{ equity }}</b></td>
        </tfooter>
    </table>
{% endblock %}
