<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link local Bootstrap version 4.5.3 CSS -->  
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">         
        <!-- Seath Papertrade icon -->
        <link href="../static/images/plane.ico" rel="icon"> 
        <!-- Link local JQuery version 3.6.0 production slim-->
        <script src="../static/js/jquery-3.6.0.min.js"></script> 
        <!-- Link local Bootstrap version 4.5.3 JS -->
        <script src="../static/js/bootstrap.bundle.js"></script>  

        {% if g.user %}
            <!-- Link Platform Stylesheet-->
            <link href="../static/css/platform.css" rel="stylesheet">
        {% else %}
            <!-- Link Auth Stylesheet-->
            <link href="../static/css/auth.css" rel="stylesheet">
        {% endif %}

        <title>Papertrade | {% block title %}{% endblock %}</title> 

        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }
        </style>
    </head>
    <body>   
           
        {% if g.user %}

            <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url_for('platform.index') }}"><img src="../static/images/letterheadDark.svg" height="40px"></a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav px-30">
                    <li class="nav-item text-nowrap"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
                </ul>         
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="sidebar-sticky pt-3">
                            <br>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('index') }}">
                                        <span data-feather="home"></span>
                                        Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.portfolio') }}">
                                        <span data-feather="bar-chart-2"></span>
                                        Portfolio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.watchlist') }}">
                                        <span data-feather="file"></span>
                                        Watchlist
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.quotes') }}">
                                        <span data-feather="users"></span>
                                        Quotes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.trading') }}">
                                        <span data-feather="shopping-cart"></span>
                                        Trading
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('platform.settings') }}">
                                        <span data-feather="layers"></span>
                                        Settings
                                    </a>
                                </li>
                            </ul>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Saved reports</span>
                                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="file-text"></span>
                                        Current month
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    {% if get_flashed_messages() %}
                        <header>
                            <div class="alert" role="alert">
                                {{ get_flashed_messages() | join(" | ") }}
                            </div>
                        </header>
                    {% endif %}

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        {% block content %}{% endblock %}  
                    </main>
                </div>
                <footer class="footer small text-center text-muted">
                    <div>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a><br><br></div>    
                </footer>
            </div>

            {% else %}

            <body class="text-center">
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <main role="main" class="inner cover">

                        {% if get_flashed_messages() %}
                            <header>
                                <div class="alert" role="alert">
                                    {{ get_flashed_messages() | join(" | ") }}
                                </div>
                            </header>
                        {% endif %}

                        {% block authContent %}{% endblock %} 

                    </main>            
                    <footer class="mastfoot mt-auto">
                        <div class="inner">
                            <p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a>.</p>
                        </div>
                    </footer>
                </div>
            </body>

        {% endif %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="../static/js/base.js"></script>

    </body>
</html>