<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link local Bootstrap version 4.5.3 CSS -->  
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">         
        <!-- Seath Papertrade icon -->
        <link href="../static/images/plane.ico" rel="icon"> 
        <!-- Link Custom Stylesheet-->
        <link href="../static/css/styles.css" rel="stylesheet">
        <!-- Link local JQuery version 3.6.0 production slim-->
        <script src="../static/js/jquery-3.6.0.slim.min.js"></script> 
        <!-- Link local Bootstrap version 4.5.3 JS -->
        <script src="../static/js/bootstrap.bundle.js"></script>  

        <title>Seath | {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="{{ url_for('platform.index') }}"><span class="green">SEATH</span> <span class="blue"> Papertrade</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if g.user %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.index') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.portfolio') }}">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.watchlist') }}">Watchlist</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.quotes') }}">Quotes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.trading') }}">Trading</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('platform.settings') }}">Settings</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join("...........") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block content %}{% endblock %}         
        </main>  
 
        <footer class="small text-center text-muted">
            <div>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a><br><br></div>    
        </footer>

    </body>

</html>
