{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form.oldPassword.label }}
    {{ form.oldPassword(class="form-group") }}<br>

    {{ form.newPassword.label }}
    {{ form.newPassword(class="form-group") }}<br>

    {{ form.confirmPassword.label }}
    {{ form.confirmPassword(class="form-group")  }}<br>

    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}