{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username(class="form-group") }}<br>

    {{ form.email.label }}
    {{ form.email(class="form-group") }}<br>

    {{ form.password.label }}
    {{ form.password(class="form-group")  }}<br>

    {{ form.confirmPassword.label }}
    {{ form.confirmPassword(class="form-group")  }}<br>

    {{ form.submit(class="btn btn-primary") }}
</form>


  
{% endblock %}