{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block authContent %}
<br>
<br>
<br>
<img src="../static/images/letterheadDark.svg" height="60px"> 
<br>
<br>

<br>


<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.username(class="form-control", placeholder="Username") }}<br>
    </div>
    <div class="form-group">
    {{ form.email(class="form-control", placeholder="Email") }}<br>
    </div>
    <div class="form-group">
    {{ form.password(class="form-control", placeholder="Password")  }}<br>
    </div>
    <div class="form-group">
    {{ form.confirmPassword(class="form-control", placeholder="Confirm")  }}<br>
    </div>

    {{ form.submit(class="btn btn-lg btn-secondary") }}
</form>

<p class="lead">Already have an account?</p>
<p class="lead">
    <a href="{{ url_for('auth.login') }}" class="btn btn-lg btn-secondary">Sign In</a>
</p>

  
{% endblock %}