{% extends "layout.html" %}

{% block title %}
    Trade History
{% endblock %}

{% block main %}
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Trade</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in trades %}
            <tr>
                <td>{{ i['symbol'].upper() }}</td>
                <td>{{ i['trade'] }}</td>
                <td>{{ i['shares'] }}</td>
                <td>{{ usd(i['price']) }}</td>
                <td>{{ i['time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
