{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block authContent %}
<br>
<br>
<br>
<img src="../static/images/Letterhead-01.svg" height="60px"> 
<br>
<br>

<br>



<form method="POST" novalidate centre>

    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.username(class="form-control", placeholder="Username") }}<br>
    </div>
    <div class="form-group">
      {{ form.password(class="form-control", placeholder="Password")  }}<br>
    </div>
    {{ form.submit(class="btn btn-lg btn-secondary") }}
</form>
<br>
<br>
<p class="lead">Don't have an account yet?</p>
<p class="lead">
    <a href="{{ url_for('auth.register') }}" class="btn btn-lg btn-secondary">Create an Account</a>
</p>

  
{% endblock %}